# API
API_HOST=0.0.0.0
API_PORT=8000
AUTH_TOKEN=smart-campus-secret-token

# MQTT
MQTT_HOST=...
MQTT_PORT=...
MQTT_USERNAME=...
MQTT_PASSWORD=...
INPUT_TOPIC=smart-campus/raw/access/rfid-uid
OUTPUT_TOPIC=smart-campus/events/access
PUBLISH_ENABLED=true

# Core Business
CORE_SERVICE_URL=http://<IP_ADDRESS>:8000
CORE_REQUEST_TIMEOUT=3.0

# Whitelist
WHITELIST_CSV=uid_whitelist.csv

# Logging
LOG_LEVEL=INFO

# Database
DATABASE_URL=...